h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 64px;
}

.sub-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-div {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 64px;
    padding: 48px;
}

.button {
    padding: 48px;
    font-size: 30px;
    font-weight: bold;
}

.score-div {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 128px;
}

#player-score, #computer-score {
    font-size: 48px;
    font-weight: bold;
}

#round-text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 48px;
    margin: 48px 164px;
    font-size: 32px;
    border: 3px solid black;
}